:root {
  --nav-color: #23252b;
  --nav-text-color: #dadada;
  --nav-hover: #141519;
}

/*! Navegador */

.nav {
  display: flex;
  width: 100vw;
  height: 60px;
  background-color: var(--nav-color);
  justify-content: space-around;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-right {
  display: flex;
}

.nav-li {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 60px;
}

.nav-li:hover {
  background-color: var(--nav-hover);
}

/*! Portada */

.cover {
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url("../assets/image/solo-leveling-portada.png");
  background-size: cover;
  z-index: -1;
}

/*! Recomendaciones */

.recomentations-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  padding: 64px;
}

/*! Card movie */

.recomentations {
  position: relative;
  width: 230px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recomentations img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.recomentations-info {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  color: #fff;
  transition: all 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.recomentations-info:hover {
  opacity: 1;
}

.recomentations h2,
.recomentations p {
  margin: 0;
  word-wrap: break-word;
}

.recomentations h2 {
  top: 10px;
  font-size: 18px;
}

.recomentations p {
  bottom: 10px;
}

.recomentations:hover h2,
.recomentations:hover p {
  opacity: 1;
}

/* ? notice.html */

.notice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 30px 0;
  padding: 0 300px;
}

.notice {
  background-color: var(--nav-color);
  padding: 30px;
}

.notice-container h2,
.notice-container p {
  margin: 10px 0;
  text-align: start;
}

/* ? profile.html */

.header {
  display: flex;
  background-color: #888888;
  width: 100%;
  height: 30vh;
  margin-bottom: 20px;
  z-index: -1;
}

.imageProfile {
  height: 30vh;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 5px;
  z-index: 1;
}

.header .title-profile {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.name {
  font-size: 40px;
  padding: 25px;
}

.my-web {
  font-size: 35px;
  font-weight: 400;
}

/*! section about */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 22px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 70%;
  font-size: 30px;
  font-weight: 600;
  background-color: #b0b0b0;
}

.description {
  display: flex;
  width: 70%;
  justify-content: justify;
  align-items: center;
  padding: 20px;
  text-align: justify;
  background-color: #b7b7b7;
}

/*! section technologies */

.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 22px;
  margin-bottom: 20px;
}

.technologies-title {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 70%;
  font-size: 30px;
  font-weight: 600;
  background-color: #b0b0b0;
}

.technologies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  flex-wrap: wrap;
}

.icon {
  width: 17vw;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b7b7b7;
  cursor: pointer;
}

.card-container:hover {
  background-color: #a0a0a0;
  box-shadow: 0 0 1px 1px #fff;
  transition: 0.2s;
}
